.gm-mode .gm-inspector-tabs button:first-child {
  font-size: 0;
}

.gm-mode .gm-inspector-tabs button:first-child::after {
  content: "Обзор";
  font-size: 10px;
}

.gm-mode .gm-inspector-note {
  display: none;
}
